body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.back-home {
    position: absolute;  /* Positioning the button absolutely */
    top: 20px;  /* Distance from the top */
    left: 20px;  /* Distance from the left */
    padding: 10px 20px;
    border-radius: 20px;  /* Rounded corners */
    text-decoration: none;  /* Remove underline */
    color: white;  /* Text color */
    background-color: red;  /* Red background */
    font-size: 16px;
}

.back-home:hover {
    background-color: darkred;  /* Darken on hover */
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 15px;  /* uniform padding for input fields */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%; /* Ensures inputs take full width */
    box-sizing: border-box;  /* include padding and border in element's total width and height */
}

input:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 15px;  /* uniform padding for button */
    background-color: green;  /* set button color to green */
    color: white;  /* text color */
    border: none;  /* no border */
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%; /* make it full width */
    box-sizing: border-box;  /* include padding and border in element's total width and height */
}

button:hover {
    background-color: darkgreen;  /* darken button on hover */
}